API_ID=29448327
API_HASH=9f03daa5d2f08957e1fb4d36855d64fb
BOT_TOKEN=5603146348:AAFVbUMO8OKMWlqPDaKgMp6ImffEJ1unUn4
SESSION_STRING=AQBRnv9GpOeIRWQjzZbTiLWtpkFSUUpNgVHezgC2uZMTeLIXdT2YcGyl-t8J6lWCElT-VgGqGfkOzcfu_DuxfthMrxSMwVRTxOBmLnkTHI94-HhmcSR3g-k30AXlGdlkYbLSzVoqYeVta3ucYzcylck5eJZmKyc6W9a4BLpGp_4pbc9a8dP39IrBMDU3ZfmLBmPnwyL2GVg6k1kWh0ssfggRYZpHy-vxvnGInmLsdNk_dDXdv32Z2uBGbLyr74R_VUOhUVoa_17wX9BAiwoLdq7NE67CE9SIIzJ7WfEatQC6i7ZDUxPrpxvHpdxqOEtZSNynFeh3A6BzuAoUUXM11lIKAAAAAVDDgvEA
CHAT=-1001676987677
ADMINS=5149937796
